/* Fondo azul marino grisáceo */
body, .reveal {
  background-color: #023671ff; /* azul marino grisáceo */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Fondo también para las slides */
.reveal .slides {
  background-color: #023671ff;
}

/*letras cuerpo */
.reveal p, 
.reveal li {
     font-size: 38px;
  color: #F5F5F5; 
  text-align: justify;
}

/*Titulos */
.reveal h1,
.reveal h2 {
    font-size: 54px;
  color: #FF7F11; 
  text-align: center;

}

/* Centrar todo el bloque de la portada */
.reveal .quarto-title-block {
  display: flex !important;
  flex-direction: column !important; /* apila título, subtítulo, autor */
  align-items: center !important;    /* centra horizontalmente */
  justify-content: center !important; /* centra verticalmente */
  height: 100% !important;           /* ocupa toda la slide */
  text-align: center !important;
}

/* Opcional: estilizar título, subtítulo y autor */
.reveal .quarto-title,
.reveal .quarto-subtitle,
.reveal .quarto-title-author,
.reveal .quarto-title-meta .date {
  color: #FFFFFF !important;
  margin: 5px 0 !important;
  font-size: 38px;
}

/* Achica todas las tablas */
table {
  font-size: 0.7em;
  width: auto !important;
  max-width: 50%;
  background-color: white !important;
}

/* O más específico para tablas sjPlot */
.table-style {
 font-size: 0.7em;
  width: auto !important;
  max-width: 50%;
  background-color: white !important;
}

.reveal a {
  color: #D62828;
}


.reveal .small-text {
  font-size: 25px; 
    text-indent: -1.5em; 
  padding-left: 1.5em; 
  text-align: justify;  
}
